version: '3.3'

services:
  db:
    image: postgres:13-alpine
    container_name: web_lab3_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "55432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      args:
        ADMIN_NAME: ${ADMIN_NAME}
        ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    container_name: web_lab3_app
    restart: always
    ports:
      - "55080:8080"
      - "55990:9990"
    depends_on:
      - db

volumes:
  postgres_data: